@tailwind base;
@layer base {
  body {
    word-break: break-word;
  }
  .clicked-coord-label{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 5px;
  }
  
  .clicked-coord-label p {
    margin: 10px;
  }
  .info-window-button {
    @apply bg-red-500 text-white p-1 mt-2 hover:bg-red-700 text-base;
  }
  .info-window-text {
    @apply text-base;
  }
  .info-window-header {
    @apply text-xl;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sarabun-Regular";
  src: url("../public/webfonts/sarabun-regular.woff");
}
