@tailwind base;
@layer base {
  body {
    word-break: break-word;
  }
  .clicked-coord-label{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 5px;
  }
  
  .clicked-coord-label p {
    margin: 10px;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sarabun-Regular";
  src: url("../public/webfonts/sarabun-regular.woff");
}
